@media (max-width: 768px){
    #wrapper{
        flex-direction: column;
        overflow: visible;
    }

    .leftcontainer,
    .rightcontainer{
        flex: none;
        width: 100%;
    }

    .rightcontainer{
        border-radius: 40px 40px 0 0;
    }
}