@media (max-width: 768px){
    #wrapper{
        flex-direction: column;
        overflow: visible;
        min-height: 100vh;
    }

    .leftcontainer,
    .rightcontainer{
        flex: none;
        width: 100%;
        margin-bottom: 25px;
        padding-right: 5%;
        padding-left:5%;
    }

    .rightcontainer{
        border-radius: 40px 40px 0 0;
        margin-bottom: 0;
        padding-bottom: 40px; 
        flex-grow: 1;
    }

    .leftcontainer{
        padding-top: 5%;
        
    }

    #booking{
        margin: 2%;
    }

    .selectBtn:disabled,
    .selectBtn.full{
        background-color: #888888 !important;
        color: #cccccc !important;
        cursor: not-allowed !important;
        transform: none !important;
    }
}